


ion-card {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  padding: 20px;
  border-radius: 10px;
  text-align: center;


.description-text {
  color: white; /* Texto en blanco */
  font-size: 18px;
}



 }
