<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div class="content-container">
    <!-- imagen izquierda -->
    <img src="assets/img/cruz.png" class="side-image" alt="Lámpara Izquierda" />

    <!-- Contenedor del boton -->
    <div class="center-buttons">
      <ion-button routerLink="/menu" class="boton-personalizado" aria-label="Ir a Historia">MENU</ion-button>
      
      
    </div>

    <!-- imagen derecha -->
    <img src="assets/img/cruz.png" class="side-image" alt="Lámpara Derecha" />
  </div>
</ion-content>

